* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fcfcfc;
  font-family: 'Open Sans', san-serif;
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

#calc {
  margin-left: 100px;
  margin-top: 50px;
  padding: 0;
  opacity: 0.8;
  color: #666;
  font-size: 80px; }
  #calc div {
    float: left;
    text-align: center; }

#left, #right {
  width: 95px; }

#times, #equal {
  width: 80px; }

#answer {
  width: 120px; }

#answers {
  clear: left;
  color: #888;
  font-size: 30px;
  margin-left: 150px;
  padding-top: 30px;
  border-spacing: 2px 4px; }
  #answers tr {
    height: 40px;
    margin: 0; }
    #answers tr td.isCorrect {
      width: 4px; }
      #answers tr td.isCorrect.correct {
        background-color: #2ecc71; }
      #answers tr td.isCorrect.wrong {
        background-color: #e74c3c; }
    #answers tr td.left {
      padding-left: 7px; }
    #answers tr td.left, #answers tr td.right, #answers tr td.equal {
      width: 35px;
      text-align: center; }
    #answers tr td.times {
      text-align: center;
      width: 30px; }
    #answers tr td.answer.wrong {
      text-decoration: line-through;
      color: #e74c3c;
      padding-right: 10px; }
      #answers tr td.answer.wrong span {
        color: #888; }
    #answers tr td.correctAnswer {
      text-align: center;
      color: #e74c3c; }

#background {
  position: fixed;
  right: 30px;
  bottom: 30px; }
  #background .row {
    width: 500px;
    height: 20px; }
  #background .button-row, #background .cell {
    float: left;
    margin: 1px; }
  #background .button {
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-size: 0px;
    cursor: pointer;
    background-color: #ccc; }
    #background .button:hover {
      font-size: 14px; }
    #background .button.button-row {
      width: 50px;
      margin-right: 3px; }
    #background .button.button-column {
      width: 218px;
      margin-left: 275px;
      margin-bottom: 2px; }
    #background .button:hover {
      background-color: #eeb; }
  #background .cell {
    width: 20px;
    height: 20px;
    background-color: #66a9ec; }
  #background.half .cell.great {
    background-color: #ccc !important; }
  #background .disabled .cell {
    background-color: #ccc; }
