* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
  font-family: 'Open Sans', san-serif;
  font-weight: 300;
}

input {
  cursor: default;
  opacity: 0.8;
}

#calc {
  margin-left: 50px;
  margin-top: 50px;
  padding: 0;
  opacity:0.8;
  color: #bbb;
  font-size: 80px;
}

#calc p {
  width: 80px;
  height: 80px;
  float: left;
  text-align: center;
}

#answer {
  width: 160px;
}

#answers {
  clear: left;
  list-style: none;
  color: #999;
  opacity: 0.8;
  font-size: 30px;
  margin-left: 50px;
  padding-top: 50px;
}

span.iscorrect {
  color: #f44;
  font-size: 25px;
}

#bgwrapper {
  padding: 0;
  position: absolute;
  width: 500px;
  height: 500px;
  right: 30px;
  bottom: 30px;
}

#background {
  position: absolute;
  opacity: 0.6;
}

#dragIndicator {
  display: none;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(255, 255, 192, 0.3);
  border: 1px solid rgba(244, 244, 128, 0.5);
}

#help {
  display: none;
  background-color: black;
  color: white;
  opacity: 0.5;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
}

#help li {
  list-style-type: none;
  margin: 5px;
}

#closehelp {
  cursor: pointer;
  padding-top: 10px;
}
